<!DOCTYPE HTML>
<html>
<head>
    <title>Main page</title>
</head>
<body>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
        $(function() {
          $('a#test').bind('click', function() {
            document.body.innerHTML += "hello <br/>"
            
            $.getJSON('/background_process_test',
                function(data) {
                    alert("data");
            });
            return true;
          });
        });
</script>


<div class='container'>
    <h3>Test</h3>
        <form>
            <a href=# id=test><button class='btn btn-default'>Test</button></a>
        </form>

</div>

</body>
</html>
